body{
    margin: 0px;
    background-color: blanchedalmond;
    font-size: 25px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0px auto;
}
/* стилі для шапки сайту */
header{
    background-color: rgb(221, 103, 82);
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-logo-link{
    width: 120px;
}
.header-image{
    width: 120px;
}
.header-list{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}
.header-item{
    justify-content: flex-end;
    flex-direction: row;
    gap: 50px;
    font-size: 24px;
    color: #FFF;
    font-weight: 700;
}
/* стилі для головної секції */
.hero{
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero-container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.hero-image{
    width: 550px;
    padding: 50px;
}
.hero-title{
    font-size: 40px;
    color: rgb(113, 27, 12);;
}
/* стилі для другої секції */
.dough{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 167, 123);
}
.dough-container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.dough-image{
    width: 550px;
}
.dough-title{
    font-size: 35px;
    color: rgb(113, 27, 12);
}
.dough-list{
    list-style: disc;
    margin-left: 50px;
}
/* стилі для третьої секції */
.filling{
    padding-top: 50px;
    padding-bottom: 50px;
}
.filling-container{
    display: flex;
}
.filling-wrap{
    align-items: end;
    margin-left: 50px;
}
.filling-image{
    width: 550px;
}
.filling-title{
    font-size: 35px;
    color: rgb(113, 27, 12);
}
.filling-list{
    list-style: disc;
    margin-left: 50px;
}
/* стилі до четвертої секції */
.bonus{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 167, 123);
}
.bonus-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bonus-image{
    width: 550px;

}
.bonus-title{
    text-align: center;
    font-size: 40px;
    color: rgb(113, 27, 12);
}
.bonus-text{
    color: rgb(113, 27, 12);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.bonus-item{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
/* стилі до п'ятої секції */
.contact{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-container{
    display: flex;
    margin-left: 50px;
}
.contact-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-image{
    width: 550px;
    max-height: 500px;
    margin-right: 25px;
}
.contact-title{
    justify-content: center;
    color: rgb(113, 27, 12);
    font-size: 40px;
}
.contact-subtitle{
    color: rgb(113, 27, 12);
    font-size: 35px;
}
.contact-item{
    list-style: disc;
    font-weight: bold;
    font-size: 24px;
    color: rgb(113, 27, 12);
    margin-left: 35px;
}
.contact-text{
    color: rgb(113, 27, 12);
    font-size: 28px;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.form-item{
    margin-bottom: 15px;
    max-width: 170px;
}
.form-sumbit{
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    width: 120px;
}
.form-sumbit:hover{
    background-image: linear-gradient(to bottom, rgb(155, 255, 139), rgb(199, 255, 121));
    color: #000000;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    font-weight: bold;
}
.form-reset{
    padding: 8px;
    border-radius: 8px;
    width: 120px;
}
.form-reset:hover{
    background-image: linear-gradient(to bottom, rgb(255, 84, 84), rgb(255, 109, 109));
    color: #000000;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    font-weight: bold;
}
/* стилі до підвалу сайта */
.footer{
    background-color: rgb(221, 103, 82);
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.footer-text{
    color: #FFF;
}
.footer-image{
    margin-top: 15px;
    max-height: 50px;
    width: 50px;
}